@using BTCPayServer.Abstractions.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var storeId = Context.GetStoreData()?.Id;
    if (string.IsNullOrEmpty(storeId))
    {
        return;
    }
}

<a asp-controller="DynamicPricing" 
   asp-action="UpdateDynamicPricingSettings" 
   asp-route-storeId="@storeId"
   class="dropdown-item">
    <i class="fa fa-percentage fa-fw mr-2"></i>
    Dynamic Pricing
</a> 